// Help box for installation on different distros
.help-box {
  // margin-left: 1em;
  background-color: var(--base);
  border-left: 6px solid var(--accent);
  padding: 0.2em 2em;
  border-radius: 5px;

  h4 {
    color: var(--accent);
    margin-bottom: 0.5em;
  }
}

.drawer {
    background-color: var(--base-lighter);
}
