@use '/src/scss/colors' as *;
@use '/src/scss/variables' as *;

h2.header-class {
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 1em;
  color: var(--secondary);
}

.function {
  margin-top: 3em;
}

.function-header {
  position: relative;
  padding: 0 0;

  .function-header-title {
    padding: .1em .5em;
    background-color: $secondary;
    color: $base;
    border-radius: $radius;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;

    &::after {
      content: '()';
    }
  }
}
