.customToc {
  padding-left: 0;
  a {
    text-decoration: none;
    color: var(--textfix);
    &:hover {
      color: var(--accent);
    }
  }
  ul {
    > li > a {
      // font-weight: 300;
    }
  }

  li.active > a {
    color: var(--accent);
  }
}
