.customTocDiv {
  position: relative;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;

  ul {
    padding-left: 1em;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  > ul:last-of-type {
    margin-bottom: -1.5rem;
  }
  li {
    list-style: none;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: var(--textfix);
    opacity: 0.5;
    height: 100%;
    width: 1px;
  }
}

.customToc {

  li {
    margin-left: 0;
    padding-left: 0;
  }

  ul > li {
    margin-left: 1em;
  }

  a {
    text-decoration: none;
    color: var(--text);
    border-radius: var(--ifm-code-border-radius);
    &:hover {
      color: var(--primary);
    }
  }

  li.active > a {
    color: var(--primary);
    font-weight: bold;
  }
}

.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
