.headerClass {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #2e3440;
  /* border-radius: 10px 10px 0 0; */
  padding: 0.5rem 1rem;
}

.srcClassContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 3rem;
  gap: 1rem;
}

.headerMethod {
  font-size: 1.2em;
  font-weight: bold;
}

.methodTitle::before {
  @apply bg-gray-700 opacity-50;
  --radius: 0.7rem;
  content: "";
  position: absolute;
  top: calc(0.5rem - (var(--radius) - 1rem) / 2);
  left: calc(-1.24rem - var(--radius) / 2);
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
}

.classContent::before {
  @apply bg-gray-700;
  content: "";
  position: absolute;
  top: 0;
  left: -1.25rem;
  height: 100%;
  width: 1px;
}

.classContainer::before {
  @apply shadow-lg md:rounded dark:shadow-[#040404];
  --padding: 1.5rem;
  content: "";
  position: absolute;
  top: calc(0rem - var(--padding));
  bottom: calc(0rem - var(--padding));
  left: calc(-50vw + 50%);
  width: 100vw;
  background-color: var(--primary-bg);
  z-index: -1;
}

@media (min-width: 768px) {
  .classContainer::before {
    left: calc(0rem - var(--padding));
    right: calc(0rem - var(--padding));
    width: unset;
  }
}
