@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rose: 359 68% 70%;
  --green: 83 34% 63%;
}

@layer base {
  :root {
    --primary: 118 32% 35%;
    --primary-2: var(--rose);
    --func: 118 32% 35%;
    --class: 359 68% 30%;
    --meth: 210 70% 40%;

    .route-docs {
      --primary: var(--primary-2);
    }
  }

  .dark {
    /* --accent-foreground: 217 92% 76%; */
    --primary: var(--green);
    --primary-2: var(--rose);
    --func: 83 34% 63%;
    --class: 359 68% 70%;
    --meth: 210 70% 70%;

    .route-docs {
      --primary: var(--primary-2);
    }
  }

  h5 {
    @apply text-base font-bold text-muted-foreground;
    @apply mt-4;
  }

  h6 {
    @apply text-base font-semibold;
  }

  .divider {
    @apply relative pb-2 text-lg !text-muted-foreground;
    @apply after:content-[''] after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-border;
  }

  .class {
    &::before {
      content: "class";
      @apply bg-class/10 text-class/70 rounded p-1 text-[0.7em];
    }
  }
}

html.dark .shiki,
html.dark .shiki span {
  /* @apply bg-secondary/50; */
  color: var(--shiki-dark) !important;
}

.toc-func::before {
  content: "func";
  @apply text-xs bg-func/10 text-func/70 rounded p-1 mr-1;
}

.toc-class::before {
  content: "class";
  @apply text-xs bg-class/10 text-class/70 rounded p-1 mr-1;
}

.toc-meth::before {
  content: "meth";
  @apply text-xs bg-meth/10 text-meth/70 rounded p-1 mr-1;
}
