@use '/src/scss/variables' as *;
@use '/src/scss/colors' as *;

.sub-title {
  font-size: 1.3em;
  font-weight: 500;
}

.hero-container {
  // position: relative;
  // height: calc(100vh - var(--ifm-navbar-height));
  background-color: transparent;

  @media screen and (max-width: 996px) {
    height: fit-content;
  }
}

.hero-background {
  position: absolute;
  top: calc(var(--ifm-navbar-height) * -1);
  width: 100vw;
  height: calc(100vh + var(--ifm-navbar-height));
  z-index: -1;

  [data-theme='dark'] & {
    color: var(--text);
    background-image: url('/static/img/welcome-background.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    filter: blur(30px);
  }
  [data-theme='light'] & {
    background-image: linear-gradient(
      to bottom right,
      lighten($primary, 20%),
      lighten($accent, 20%)
    );
  }
}

.hero-custom {
  position: relative;
  // height: 100vh;
  background-color: transparent;
  color: var(--text);

  @media screen and (max-width: 996px) {
    position: relative;
    height: fit-content;
    top: 0;
  }
}
