.data-model {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
  align-items: center;

  @media screen and (max-width: 996px) {
    flex-direction: column;
  }

  .head {
    font-weight: bold;
    text-align: center;
    color: var(--text);
  }

  .box {
    border-radius: 20px;
    padding: 1em;
    background-color: var(--base-lighter);
    border: 1px solid var(--text);
  }

  .icon {
    font-size: 2em;
    @media screen and (max-width: 996px) {
      rotate: 90deg;
    }
  }
}

.goto {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}
