.testimonialContainer {
  overflow: hidden;
  align-self: center;

  @media screen and (max-width: 996px) {
    padding: 0 1em;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(var(--slide-distance, -100%));
  }
}

.testimonials {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  animation: slide 30s linear infinite;

  @media screen and (min-width: 996px) {
    gap: 3em;
  }

  .testimonial {
    position: relative;
    display: inline-block;
    align-items: center;
    background: radial-gradient(
      ellipse at 50% 50%,
      color-mix(in srgb, var(--text) 8%, transparent),
      transparent 70%
    );
    padding: 1em;
    border-radius: 6px;
    text-align: center;
    max-width: min(100%, clamp(400px, 45%, 100%));
    flex-shrink: 0;

    .author {
      font-weight: bold;
    }

    @media screen and (min-width: 996px) {
      &::before,
      &::after {
        position: absolute;
        font-size: 4em;
        top: 50%;
        transform: translateY(-50%) scaleX(0.6);
        z-index: -1;
        color: var(--text);
        font-weight: 500;
      }

      &::before {
        content: "";
        left: -20px;
      }
    }
  }
}

.screenshot {
  position: relative;
  height: 400px;
  margin-top: 2em;
  opacity: 0.8;

  .database {
    position: absolute;
    top: 10%;
    left: 0;
    width: 80%;
    bottom: 0;
    aspect-ratio: 1.8;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid var(--text);
    margin: 0 15px;
  }

  .welcome {
    position: absolute;
    right: 0;
    top: 3%;
    aspect-ratio: 1;
    margin: 0 15px;
    left: 46%;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid var(--text);
  }
}
