.signature {
  position: relative;
  display: block;

  >div {
    border-radius: 0 0 6px 6px;
  }

  &.sourceIsVisible {
    margin-bottom: 0;
    padding-bottom: 0;

    >div {
      border-radius: 0;
      margin-bottom: 0;
    }
  }
}

.signature2 {
  & > * > * > * > * {
    padding: .3em 1em;
    margin: 0;
  }
}

.sourceButton {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  right: 10px;
  top: 0;
  height: 100%;

  button {
    border: none;
    color: var(--text-07);
    background-color: transparent;
    padding: 0.3em;
    border-radius: var(--radius);
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      background-color: #ffffff08;
      border: 1px solid var(--base-20);
      color: var(--text);
      transition: all 0.2s;
    }
  }

  .icon-source {
    font-size: 0.8em;
    padding-right: 0.5em;
  }
}

.methods {
  // margin-left: 3em;
  margin-left: 0;
}

.method {
  margin-left: 0em;
}

.parameters {
  @media screen and (min-width: 996px) {
    display: flex;
    position: relative;
    justify-content: flex-start;

    >ul {
      width: 80%;
    }
  }

  .parameter-description {
    position: relative;
    margin-left: 1em;
    margin-top: 0.3em;
  }
}

.method-title {
  color: var(--textfix);
  position: relative;
  background-color: var(--code-background);
  border-radius: 6px 6px 0 0;
  margin-bottom: 1px;
  margin-top: 2em;
  filter: drop-shadow(0 1px 1px #00000020);

  // h2,
  // h3 {
  //   margin: 0;
  //   padding: 0.5em;
  //   padding-left: 0.8em;
  //   scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5em);
  // }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2em;
  }
}

.source-code-div {
  padding-top: 0;
  margin-top: 0;

  * {
    --prism-background-color: transparent !important;
  }

  >div {
    border-radius: 0 0 6px 6px !important;
    border-top: none;
  }

  .prism-code {
    background-color: transparent !important;
  }
}

.hidden {
  display: none;
}

.inherited-members-grid {
  margin-left: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  .grid-item {
    color: var(--textfix);

    &::after {
      content: ', ';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.spacing-header {
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}

.header-hidden {
  opacity: 0;
  height: 0;
}
