@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(234, 232, 232);
  --bg: rgb(254, 252, 252);
  --foreground: #111111;
  --highlight: rgb(224, 222, 222);
  --primary: #31394b;
  --secondary: #acc06f;
  --primary-bg: rgb(244, 242, 242);
  --card-bg: rgb(234, 232, 232);
}

.dark {
  --background: #050505;
  --bg: rgb(20, 20, 30);
  --foreground: #f9f9f9;
  --highlight: #31394b;
  --primary: #31394b;
  --secondary: #acc06f;
  --primary-bg: #2427303f;
  --card-bg: #31394b;
  --github-bg: #24292e;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* background-color: var(--shiki-dark-bg) !important; */
  background-color: var(--shiki-dark-bg) !important;
}

body {
  font-family: var(--font-geist-sans), monospace;
  letter-spacing: 0.01em;
  text-underline-offset: 0.3em;
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

:not(pre)>code:not([class*="twoslash-"]) {
  font-family: var(--font-geist-mono);
  font-size: 0.875em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  background-color: var(--background) !important;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }

  .home-content .hide-small {
    display: none;
  }
}

.content-container {
  position: relative;
  max-width: 90rem;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  margin: 0 auto;
}

.content-container h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.headline {
  display: inline-flex;
  font-size: 3.125rem;
  font-size: min(4.375rem, max(13vw, 2.5rem));
  font-weight: 700;
  font-feature-settings: initial;
  letter-spacing: -0.12rem;
  margin-left: -0.2rem;
  margin-top: 3.4rem;
  line-height: 1.1;
  background-image: linear-gradient(146deg, #000, #757a7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dark .headline {
  background-image: linear-gradient(146deg, var(--secondary), #757a7d);
}

.subtitle {
  position: relative;
  font-size: 3.3rem;
  font-size: min(1.3rem, max(4.5vw, 1.2rem));
  font-feature-settings: initial;
  line-height: 1.6;
  width: min(100%, 60ch);
}

.hero {
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 100vw / 2);
  height: 150%;
  width: 100vw;
  z-index: -1;
  background-color: var(--card-bg);
}

.dark .hero::after {
  background-color: unset;
  background-image: linear-gradient(to bottom,
      transparent,
      var(--card-bg) 100%);
}
