// -------
// Colors
// -------

// Dark mode
$primary: #AFBF73;
$secondary: #9BA4BF;
$tertiary: #858DA6;
$accent: #F29F80;
// $base: #191724; 
$base: #1f1d2e;
$base-lighter: lighten($base, 3%);
$base-content: lighten($base, 10%);
$text: lighten(#AFBF73, 25%);

$colorsDark: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "accent": $accent,
  "base": $base,
  "base-00": $base,
  "base-10": #302e3a,
  "base-20": #474550,
  "code-background": #292d3eff,
  "base-lighter": $base-lighter,
  "base-content": $base-content,
  "text": $text,
  "textfix": $text,
  "text-opaque": rgba($text, 0.3),
);


// Light mode
$colorsLight: (
  "primary": #40539b,
  "secondary": #3a4b8b,
  "tertiary": #364784,
  "accent": darken(#F29F80, 30%),
  "base": #fff,
  "base-00": #fff,
  "base-10": #0000001a,
  "base-20": #00000033,
  "code-background": #f6f8faff,
  "base-lighter": #fff,
  "base-content": #ddd,
  "text": #000000,
  "textfix": #000000,
  "text-opaque": rgba(#000, 0.5),
);


