.card {
  [data-theme='dark'] & {
    background-color: $base-lighter;
  }
}

.navbar {
  .navbar__item.navbar__link--active {
    position: relative;
    color: var(--base);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--ifm-color-primary);
      border-radius: 6px;
      box-shadow: 0 0 70px color-mix(in srgb, var(--primary), transparent 30%);
    }
  }
  .navbar__items {
    display: flex;
    gap: 0.5em;
  }

  [data-theme='dark'] & {
    background-image: linear-gradient(to bottom, #191724, #1f1d2e);
    background-color: var(--base);
    @media screen and (width > 996px) {
      backdrop-filter: blur(5px);
      background: linear-gradient(to bottom, #191724, #1f1d2e8f);
    }
  }
}

.navbar-sidebar {
  [data-theme='dark'] & {
    background: linear-gradient(to bottom, #191724, #1f1d2e8f);
    backdrop-filter: blur(5px);
  }
}

/* FOOTER */
.footer {
  .footer__bottom {
    width: 10em;
    margin: 0 auto;
  }
  [data-theme='dark'] & {
    background-color: var(--base-lighter);
  }
}
@media screen and (min-width: 996px) {
  .footer {
    .container {
      display: flex;
      justify-content: space-between;
      gap: 5vw;

      .footer__links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      .footer__bottom {
        display: block;
        width: 10em;
        margin: 0;
      }
    }
  }
}

// BUTTONS
.btn {
  $padding: 1rem;

  text-decoration: none;
  padding: $padding $padding * 2;
  border-radius: 9999px;
  transition: all 0.1s ease-in-out;
  background-color: $text;
  color: $base;

  &.btn-accent {
    background-color: $accent;
    color: $base;
  }
  &.btn-primary {
    background-color: $primary;
    color: $base;
  }
  &.btn-secondary {
    background-color: $secondary;
    color: $base;
  }
  &.btn-outline {
    background-color: transparent;
    border: 2px solid $text;
    color: $text;
    [data-theme='light'] & {
      border: 2px solid grey;
      color: $base;
    }
  }
  &:hover {
    text-decoration: none;
    scale: 1.05;
  }
}
